body {
    background-color: #000000; /* Black background */
    color: #FFFFFF; /* White text */
    font-family: Arial, sans-serif; /* Use a common sans-serif font */
}

/* Updated Header Styling */
header {
    background-color: #4CAF50; /* Primary Green */
    color: #FFFFFF; /* White text */
    position: fixed;
    width: 100%;
    top: 0;    
}

header.scrolled {
    height: 100px;
    overflow-y: hidden;
 
    transition: background-color 0.3s, height 3s;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 100px;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Navigation Links */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    text-align: right;
    padding: 20px;
    z-index: 1001;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

/* Smooth scrolling effect for navigation links */
nav a {
    transition: color 0.3s;
}

nav a:hover {
    color: #4CAF50;
}

h1, h2, h3 {
    color: #f5efef; /* Primary Green */
}

p {
    line-height: 1.5;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #333333; /* Dark Gray */
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    section {
        padding: 15px;
    }
}
/* Responsive styling for Core Values Section */
section > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    section > div {
        flex-direction: column;
        align-items: center;
    }
}



table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50; /* Primary Green */
}

tr:nth-child(even) {
    background-color: #333333; /* Dark Gray */
}

.official-docs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.doc-card {
    text-align: center;
    margin: 20px;
}

.doc-card img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;

}
button {
    padding: 1em 2em;
    font-size: 1em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}
.management-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
}


.profile-card {
    text-align: center;
    margin: 20px;
    overflow: hidden;
    position: relative;
    flex: 0 0 calc(33.333% - 40px);
    transition: transform 0.3s;
}

@media screen and (max-width: 768px) {
    .profile-card {
        flex: 0 0 calc(100% - 40px);
    }
}



.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-card:hover {
    transform: scale(1.1);
}
.services-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;

}
/* Responsive styling for Services Section */
.service-card {
    text-align: center;
    margin: 20px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    flex: 0 0 calc(33.333% - 40px);
}

@media screen and (max-width: 768px) {
    .service-card {
        flex: 0 0 calc(100% - 40px);
    }
}




.service-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.service-card:hover {
    transform: scale(1.1);
}
